@using TheLottoApp.Models
@model IEnumerable<SubscriptionViewModel>
@{
    ViewBag.Title = "Register";
}

<div id="secondaryContainer">
    <h2>Subscribe</h2>
</div>
<div class="container">
    <div class="row">
        @foreach(var item in Model){ 
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <!-- PRICE ITEM -->
            <div class="panel price panel-red">
                <div class="panel-heading  text-center">
                    <h3>@item.plan</h3>
                </div>
                <div class="panel-body text-center">
                    <p class="lead" style="font-size:40px"><strong>$ @item.price (AUD)</strong></p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i> Personal use</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited projects</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i> 27/7 support</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-danger" href="/payment?subscription=@item.plan">SUBSCRIBE</a>
                </div>
            </div>
            <!-- /PRICE ITEM -->
        </div>
        }
    </div>

</div>