
<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

          $.ajax({
                type: "POST",
                url: "/ChartGenerator/GenerateChart",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    console.log(r);
                    var data = google.visualization.arrayToDataTable(r[0]);
                    var prevrepeat = google.visualization.arrayToDataTable(r[1]);
                    var prevOdd = google.visualization.arrayToDataTable(r[2]);

                    //previous repeat
                    //previous odd
                    var previousOdd_options = {
                        title: 'Distribution of odd numbers',
                        width: 600,
                        height: 350,
                        legend: 'none'
                    };
                    var barchart = new google.visualization.BarChart(document.getElementById('chart_div_prev_odd'));
                    barchart.draw(prevOdd, previousOdd_options);

                },
                failure: function (r) {
                    alert(r.d);
                },
                error: function (r) {
                    alert(r.d);
                }
            });
      }
      

</script>

<div class="row">
    <div class="ChartModalWrapper">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title text-center">Previous Repeat</h4>
        </div> <!-- /modal-header -->
        <div class="modal-body">

            <div class="col-md-4 col-sm-6"><div id="chart_div_prev_odd"></div></div>

        </div> <!-- /modal-body -->
        <div class="modal-footer">
            <button type="button" class="btn btn-default" id="btnCloseModal" data-dismiss="modal" onclick="javascript:window.location.reload()" >Close</button>

        </div>
    </div>


</div>

