@model TheLottoApp.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
    </ol>
</nav>

<div class="container">
        <div class="row">
            <div class="col-md-6" style="float:none;margin:0 auto;">
                <div class="card">
                    <div style="text-align:center;">
                        <img src="~/Content/Media/profile.png" />
                    </div>
                    <hr />
                    <div style="text-align:center;">
                        <p><label>Name: </label><span> Pawan Bhandari</span></p>
                        <p><label>Email: </label><span> pawan.cth@gmail.com</span></p>
                        <p><label>Subscription: </label><span> Basic</span></p>
                        <p><label>Number of games left: </label><span> 12</span></p>
                    </div>
                    <hr />
                    <div style="display:flex;justify-content:center">
                        @Html.ActionLink("Upgrade Subscription", "Subscription", "Account", new { area = "" }, new { @class = "btn btn-primary" })
                        @if (Model.HasPassword)
                        {
                            @Html.ActionLink("Change your password", "ChangePassword","ChangePassword", new { @class = "btn btn-primary changePassword" })
                        }
                        else
                        {
                            @Html.ActionLink("Create", "SetPassword")
                        }
                    </div>
                </div>
        </div>
    </div>
</div>

<p class="text-success">@ViewBag.StatusMessage</p>
