body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}
#Banner{
    margin-top :15px;
}
#bannerImage{
    height:100px;
}

.navbar-inverse {
    background-color: #1f35a5;
    border-color: #080808;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.user-row {
    text-align:center;
}
#generated_number {
	text-align: center;
	background-color: #000;
	border: 0px dotted #FCFC00;
	margin: 0 10px 0 0;
}
#generated_number span.number{
	/* font-size: 20px; */
	/* font-weight: normal; */
	margin: 5px;
	/* color: #fcfc00; */
	/* background-color: #000; */
	display: inline-block;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	/* margin: 5px; */
	color: #000;
	background-color: #fcfc00;
	/* display: inline-block; */
	/* font-family: Geneva, Arial, Helvetica, sans-serif; */
	border: 1px solid #000;
	padding: 2px 5px;
	border-radius: 50%;
	min-width: 32px;
}

.lottoCircles>h1 {
    text-align:center;
}

.lottoCircles .col-md-4{
    padding:20px;
    text-align:center;
    border-left:1px solid #c6c6c6;
    border-top:1px solid #c6c6c6;
}

.lottoCircles .col-md-4 > p {
    padding-top:4px;
}

.lottoCircles .row:last-child .col-md-4 {
    border-bottom:1px solid #c6c6c6;
}

.lottoCircles .row .col-md-4:last-child {
    border-right:1px solid #c6c6c6;
}


.bg {
  background:  url(Media/bkg1.jpg) no-repeat center center;
  position: fixed;
  width: 100%;
  height: 350px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  height: 350px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
}
