@{
    ViewBag.Title = "About";
}

<div class="container">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About</li>
        </ol>
    </nav>
    <h3 style="text-align:center;text-decoration:underline;">WELCOME</h3>
    <h4 style="text-align:center;">
        Welcome to Lottery Number Generator that allows to make Informed Decisions on how you generate
        your Weekly Lottery Numbers. Lottery Number Generator is an interatice active number generator that is informative,
        fun and entertaining.
    </h4>
    <hr />
    <h4>How does it work?</h4>
    <p>Every week the Lotteries offer millions of dollars in prizes and you are left with 2 choices of how to
    select your numbers. You either sit down with a ticket and just place crosses in the boxes or yor take
    your chances with an auto pick. But now there is a 3rd way. A way that lets you look at Data Tables of information
    and patterns which have been analysed over the history of the winning weekly numbers. Some of these patterns
    are obvious while others you may have never thought of. This information is broken up into perentage that you will
    clearly see. From there we have then taken this further by creating an easy to use calculator that allows you to
    make selections and generate random numbers to meet the criteria you have set just by simply pressing buttons.</p>
    <hr />
    <h4>Will I win?</h4>
    <p>Depending on the Lottery you play the chances are above 1 in a million to win. What the calculator allows
    you to do is play an IF Scenario. If the winning draw meets the criteria you have set, then you will have a set of 
    random numbers that potentially can increase you chnaces of winning a prize.</p>
    <hr />
    <h4>How many sets of numbers can I generate?</h4>
    <p>Your subscription allows you to generate weekly, 100 sets of numbers for each lottery.</p>
    <hr />
    <h4>Can I play systems entries?</h4>
    <p>Yes. The calculator can also generate system entries.</p>
    <hr />
    <h4>Can I select as much or as little as possible in the Calculator?</h4>
    <p>Yes you can. If you chhose to select only half the choices that's fine.</p>
    <hr />
    <h4>Can I multi select?</h4>
    <p>Yes you can. If you wish to make more that 1 selection from one of the tables it will generate a
    breakup of number sets that will meet the criteria for that table which also includes meeting the criteria
    of the selections from the other tables that you ahve set.</p>
    <hr />
</div>