<div class="row" id="card-container">
    <div class="col-9" id="card-main">
        card-main
    </div>
    <div class="col-3" id="card-sub">
        <img src="#" />
    </div>
</div>
<hr />
<div class="row" id="homeCardBannerContainer">
    <div class="col-sm-2 col-xs-1" id="lotto1">
        Lotto1
        <div class="cta-wrapper">
            <a class="btn-cta"> 
            <div class="btn-content" style="display: inline;">
                <span class="btn-text">
                    PLAY NOW
                </span>             
                </div>
            </a>
        </div>
       
    </div>
    <div class="col-sm-2 " id="lotto2">
        lotto2
    </div>
    <div class="col-sm-2 " id="lotto3">
        lotto3
    </div>
    <div class="col-sm-2 " id="lotto4">
        lotto4
    </div>
    <div class="col-sm-2 " id="lotto5">
        lotto5
    </div>
    <div class="col-sm-2 " id="lotto6">
        lotto6
    </div>
    
</div>
<!-- Button trigger modal -->
<button type="button" id="modalToggler" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="~/Content/Custom/HomeCard.css" />
<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<script>
    $("#modalToggler").click(function () {
        $('#myModal').modal('show');
    });
</script>