<div class="row" id="content-area-wrapper">
    <div class="col-lg-3" id="content1">
        prize paid out
    </div>
    <div class="col-lg-3 col-lg-offset-2" id="content2">
        winnders
    </div>
    <div class="col-lg-3 col-md-offset-1" id="content3">
        some quote
    </div>

</div>
<link rel="stylesheet" type="text/css" href="~/Content/Custom/HomeCard.css" />