@{
    ViewBag.Title = "Home Page";
}

<div class="bg"></div>
<br />
 <div class="jumbotron" id="home-container" style="text-align:center">
            <h1 class="blue" style="color:#2196F3;">Generate Numbers</h1>
     <br /><br />
     <a href="/NumberGenerator/Index" class="btn btn-lg btn-primary" style="align-content:center;">Generate</a>
         
        </div>


<div class="container lottoCircles">
    <h1>Play Australian Daily Lotto's</h1>
    <div class="row">
        <div class="col-md-4">
            <a href="/NumberGenerator/Index"><img src="~/Content/Media/saturday_lotto.png" /></a>
            <p>Saturday</p>
            <h4>$4 Million</h4>
        </div>
        <div class="col-md-4">
            <a href="/NumberGenerator/Index">
                <img src="~/Content/Media/monday_lotto.png" />
            </a>
                <p>Monday</p>
                <h4>$2 Million</h4>
</div>
        <div class="col-md-4">
            <a href="/NumberGenerator/Index"><img src="~/Content/Media/tuesday_lotto.png" /></a>
            <p>Tuesday</p>
            <h4>$50 Million</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <a href="/NumberGenerator/Index">
                <img src="~/Content/Media/monday_lotto.png" /></a>
                <p>Wednesday</p>
                <h4>$10 Million</h4>
</div>
        <div class="col-md-4">
            <a href="/NumberGenerator/Index">
                <img src="~/Content/Media/thursday_lotto.png" /></a>
                <p>Thursday</p>
                <h4>$70 Million</h4>
</div>
        <div class="col-md-4">
            <a href="/NumberGenerator/Index">
                <img src="~/Content/Media/everyday_lotto.png" /></a>
                <p>Everyday</p>
                <h4>$20,000 /month for 20 years</h4>
</div>
    </div>
</div>


@section Scripts {
<script>

    var jumboHeight = $('.jumbotron').outerHeight();
    function parallax() {
        var scrolled = $(window).scrollTop();
        $('.bg').css('height', (jumboHeight - scrolled) + 'px');
    }

    $(window).scroll(function (e) {
        parallax();
    });
</script>
    }
