@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Lotto App</h1>
   Bit of Description here...
</div>

<div class="row">
    <div class="col-md-4">
        <p>Games on different cols as cards..</p>
    </div>

    <div class="col-md-4">
        <p>Games on different cols as cards..</p>
    </div>

    <div class="col-md-4">
        <p>Games on different cols as cards..</p>
    </div>

    <div class="col-md-4">
        <p>Games on different cols as cards..</p>
    </div>

    
</div>