@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Lotto App</h1>
   Bit of Description here...
</div>

<div class="row">
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="~/Content/Media/oz_lotto.png" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">OzLotto</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/NumberGenerator" class="btn btn-primary">Generate Lucky Numbers</a>
        </div>
    </div>

    
</div>